<!DOCTYPE html>
<html ng-app="pacifistApp">
<head>
    <base href="/">
    <title>Pacifist!</title>
    @Scripts.Render("~/Scripts/angular")
    @Scripts.Render("~/bundles/pacifistapp")
</head>
<body>
<div id="main">
    <div ng-view>
        
    </div>
</div>
</body>
</html>