<!DOCTYPE html>
<html ng-app="pacifistApp">
<head>
    <title ng-bind="helloAngular"></title>
    @Scripts.Render("~/Scripts/angular")
    @Scripts.Render("~/bundles/pacifistapp")
</head>
<body>

    <input type="text" ng-model="helloAngular" />
    <h1>{{helloAngular}}</h1>

</body>
</html>